<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="30">
    <title>Document</title>
</head>
<body>
    <h1>Received BOD....</h1>
    <% if(BN.length > 0) {%>
        <table border="1">
            <% BN.forEach((bn,i ) => { %>
                <tr>
                    <td style="padding:10px"><%=bn%></td>
                    <td style="padding:10px"><%=BC[i]%></td>
                </tr>
            <% })%>    

        </table>
    <%} else {%>
        <div>NO DATA</div>
    <% } %>    
</body>
</html>